body
{
    background-image: url(/imgs/Rainbow.Donut.png);
    background-color: lightgoldenrodyellow;
    font-size: 200%;
    font-style: italic;
}
a 
{
    color: gray;
}
a:hover 
{
    background-color: black;
}